<div id="header">
    <h3 class="admin text-center mt-3">Welcome to Admin Page</h3>
    <button (click)="logout()" routerLink="" class="btn btn-dark float-right mr-3">Logout</button> 
</div> 

<div class="container mt-5 col-md-12 text-center box-container">
    <button id="btn" type="submit" routerLink="manageFlight" class="text-center btn-secondary mt-5 box">Manage Flight</button>
    <br>
    <button id="btn" type="submit" routerLink="passengerDetails" class="text-center btn-secondary mt-5 box">Manage Passenger</button>
    <br>
    <button id="btn" type="submit" routerLink="manageRoutes" class="text-center btn-secondary mt-5 box">Manage Flight Routes</button>
    <br>
    <button id="btn" type="submit" routerLink="bookingDetails" class="text-center btn-secondary mt-5 box">Booking Details</button>
</div>





